aiodns==2.0.0
aiohttp==3.6.2
aiohttp-socks==0.3.9
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.1
cchardet==2.1.6
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cycler==0.10.0
elasticsearch==7.8.0
fake-useragent==0.1.11
Flask==1.1.2
Flask-WTF==0.14.3
geographiclib==1.50
geopy==1.22.0
googletrans==3.0.0
googletransx==2.4.2
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.6.23
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.2
multidict==4.7.6
nltk==3.5
numpy==1.19.0
pandas==1.0.5
Pillow==7.1.2
pycares==3.1.1
pycparser==2.20
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
regex==2020.6.8
requests==2.24.0
rfc3986==1.4.0
schedule==0.6.0
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
sklearn==0.0
sniffio==1.1.0
soupsieve==2.0.1
textblob==0.15.3
threadpoolctl==2.1.0
tqdm==4.46.1
twint==2.1.20
urllib3==1.25.9
Werkzeug==1.0.1
wordcloud==1.7.0
WTForms==2.3.1
yarl==1.4.2
